{{ ansible_managed | comment }}
Section "InputClass"
  Identifier		"Happy Hacking Pro 2 Type-S Keyboard"
  MatchIsKeyboard	"on"
  MatchDevicePath	"/dev/input/event*"
  MatchProduct		"HHKB Professional"
  MatchVendor		"Topre_Corporation"

  Option		"XkbModel"	"hhk"
  Option		"XkbLayout"	"us"
  Option		"XkbVariant"	"altgr-intl"
  Option		"XkbOptions"	"compose:rwin-altgr"

# Option		"XkbLayout"	"us,us"
# Option		"XkbVariant"	"altgr-intl,dvorak-alt-intl"
# Option		"XkbOptions"	"compose:rwin-altgr,grp:shifts_toggle"
EndSection
