# {{ ansible_managed }}

# FIXME: This section should not be needed, but Apple Wireless Keyboard fails to config properly if left out
Section "InputClass"
	Identifier	"Keyboard Defaults"
	MatchIsKeyboard	"yes"
	Option		"XkbLayout"		"us,us"
	Option		"XkbVariant"		"altgr-intl,dvorak"
	Option		"XkbOptions"		"ctrl:swapcaps,compose:lctrl,grp:shifts_toggle"
EndSection

Section "InputClass"
	Identifier	"Apple Internal Keyboard"
	MatchIsKeyboard	"yes"
	MatchProduct	"Apple Internal Keyboard / Trackpad"
	Option		"XkbLayout"		"us,us"
	Option		"XkbModel"		"apple_laptop"
	Option		"XkbVariant"		"altgr-intl,dvorak"
	Option		"XkbOptions"		"ctrl:swapcaps,compose:lctrl,grp:shifts_toggle"
EndSection

Section "InputClass"
	Identifier	"Apple Wireless Keyboard"
	MatchIsKeyboard	"yes"
	MatchProduct	"Apple Wireless Keyboard"
	Option		"XkbLayout"		"us,us"
	Option		"XkbModel"		"apple_laptop"
	Option		"XkbVariant"		"altgr-intl,dvorak"
	Option		"XkbOptions"		"ctrl:swapcaps,compose:lctrl,grp:shifts_toggle"
EndSection
