{{ ansible_managed | comment }}

Section "InputClass"
  Identifier		"Keyboard Defaults"
  MatchIsKeyboard	"on"

  Option		"XkbLayout"		"us"
  Option		"XkbVariant"		"altgr-intl"
  Option		"XkbOptions"		"ctrl:swapcaps,compose:lctrl"
# Option		"XkbLayout"		"us,us"
# Option		"XkbVariant"		"altgr-intl,dvorak"
# Option		"XkbOptions"		"ctrl:swapcaps,compose:lctrl,grp:shifts_toggle"
EndSection
