{{ ansible_managed | comment }}
Section "InputClass"
  Identifier	"Apple Wireless Keyboard"

  MatchProduct		"Apple Wireless Keyboard"
  MatchDevicePath	"/dev/input/event*"
  MatchDriver		"libinput"
  MatchIsKeyboard	"on"

  Option	"XkbModel"	"apple_laptop"
  Option	"XkbLayout"	"us"
  Option	"XkbVariant"	"altgr-intl"
  Option	"XkbOptions"	"ctrl:swapcaps,compose:lctrl"

# Option	"XkbModel"	"apple_laptop"
# Option	"XkbLayout"	"us,us"
# Option	"XkbVariant"	"altgr-intl,dvorak-alt-intl"
# Option	"XkbOptions"	"ctrl:swapcaps,compose:lctrl,grp:shifts_toggle"
EndSection
