# {{ ansible_managed }}

Section "InputClass"
  Identifier		"Happy Hacking Pro 2 Type-S Keyboard"
  MatchIsKeyboard	"on"
  MatchDevicePath	"/dev/input/event*"
  MatchProduct		"HHKB Professional"
  MatchVendor		"Topre_Corporation"

  Option		"XkbModel"	"hhk"
  Option		"XkbLayout"	"us"
  Option		"XkbVariant"	"altgr-intl"
  Option		"XkbOptions"	"ctrl:nocaps,compose:rwin"
# Option		"XkbLayout"	"us,us"
# Option		"XkbVariant"	"altgr-intl,dvorak"
# Option		"XkbOptions"	"ctrl:nocaps,compose:rwin,grp:shifts_toggle"
EndSection
