# {{ ansible_managed }}

Section "InputClass"
	Identifier	"Happy Hacking Pro 2 Type-S Keyboard"
	MatchIsKeyboard "on"
	MatchDevicePath "/dev/input/event*"
	MatchProduct	"HHKB Professional"
	MatchVendor	  "Topre_Corporation"
	Driver		"evdev"
	Option		"XkbModel"	"hhk"
	Option		"XkbLayout"	"us"
	Option		"XkbVariant"	"altgr-intl"
	Option		"XkbOptions"	"compose:rwin"
#	Option		"XkbLayout"	"us,us"
#	Option		"XkbVariant"	"altgr-intl,dvorak"
#	Option		"XkbOptions"	"grp:shifts_toggle"
	# This option fixes an issue with the internal keyboard of laptops clashing with the HHK, via:rodri
#	Option		"XkbOptions"    "ctrl:nocaps"
EndSection
