! {{ ansible_managed }}

#include "/opt/solarized/xresources/solarized"

XTerm*eightBitInput:	false
XTerm*font:		-*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*
Rxvt*font:		-*-terminus-medium-*-*-*-16-*-*-*-*-*-*-*
Rxvt*scrollBar:		false
Rxvt*transparent:	false
!Rxvt*loginShell:	true
URxvt.visualBell:	true
URxvt.urgentOnBell:	true
URxvt.saveLines:	10000
URxvt.internalBorder:	0
xdvi.mfMode:		ljfzzz:1200
