{#

Copyright © 2019 4km3
https://github.com/orgs/4km3/people

   This file is part of archify.

   archify is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   archify is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with archify.  If not, see <https://www.gnu.org/licenses/>.

 SPDX-License-Identifier: GPL-3.0-or-later

#}
{{ ansible_managed | comment }}
# Giving configuration update rights to wpa_cli
ctrl_interface=/run/wpa_supplicant
ctrl_interface_group=wheel
update_config=1

# IEEE 802.1X/EAPOL version
# set to 1 if AP misbehaves
eapol_version=2

# Disable P2P functionality
p2p_disabled=1

# ISO/IEC alpha2 country code in which the device is currently operating.
country=ES

network={
    ssid="someone's Wi-Fi Network"
    id_str="someones-wifi"
    proto=RSN
    psk="Sup3rS3kr3tP4ssW0rd"
    priority=999

}

# N.B.: priority can be negative; the smaller the number, the lower the priority
