" {{ ansible_managed }}
"1.2pre

loadplugins '\.(js|penta)$'
group user
set cdpath=''
set defsearch=''
set editor='urxvt -e vi'
set guioptions=sC
set history=0
set showtabline=never
set visualbell

" vim: set ft=pentadactyl:
