# {{ ansible_managed }}

polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.manage" &&
        subject.user == "some.user") {
            return polkit.Result.YES;
    }
});
